/* Navbar Container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  color: #fff;
  width: 100vw;
  height: 16em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button:focus {
  outline-color: #E5D588;
  border: 1px solid #E5D588; 
}

/* Navbar Video */
.navbar-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 11%;
  z-index: -1;
}

/* Navbar Left Section */
.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.navbar-left .logo {
  height: 8em;
  text-decoration: none;
  margin-bottom: 30px;
}

/* Navbar Header */
.navbar-header {
  text-align: center;
}

/* Navbar Right Section */
.navbar-right {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
  gap: 1em; /* Space between elements */
  z-index: 10;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* User Info Section */
.user-info {
  display: flex;
  flex-direction: row; /* Align 'Welcome' and 'Logout' horizontally */
  align-items: center;
  gap: 0.5em; /* Space between the username and logout button */
}

.username {
  font-size: 1.3em;
  font-weight: bold;
}

/* Username color */
.usernamecolor {
  color: #E5D588;
}

/* User Info - Logout Button */
.user-info button {
  background-color: #000000;
  color: #E5D588;
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-left: 0.5em;
  border: 1px solid #E5D588; 
}

.user-info button:hover {
  outline-color: #E5D588;
  border: 1px solid #E5D588; 
}

/* Admin Link Styling */
.admin-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.admin-links a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.admin-links a:hover {
  color: #E5D588;
}
